:host {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

div {
  margin: 0 auto;
  width: 290px;
  height: 290px;
}

button {
  margin-top: 10px;
  padding: 6px 16px;
  font-size: 14px;
  background-color: #00704A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
